<div class="social">

    <p class="social-item">Share to: </p>
    <p class="social-item" id="sharelinks">

        <a onclick="buildURI(this)" href="https://www.facebook.com/sharer/sharer.php?u=" class="icon sharelink"
            target="_blank" title="Facebook"><img src="/icons/002-facebook.svg" width="18" /></a>
        &nbsp;
        <a onclick="buildURI(this)" href="https://wa.me/?text=" class="sharelink icon" target="_blank"
            title="WhatsApp"><img src="/icons/006-whatsapp.svg" width="18"></a>
        &nbsp;
        <a onclick="buildURI(this)" href="mailto:?" class="sharelink icon" target="_blank" title="Mail"><img
                src="/icons/envelope.svg" width="18"></a>
    </p>
</div>