<%- include('partials/header') -%>

<h1>About</h1>
<p>This is a personal blogger website made by me. <br> Users can view, like and share my posts. <br>More features soon
</p>

<%- include('partials/footer') -%>