<%- include('partials/header') -%>
<h3>About</h3>
<br>
<p>Pro-grammer by Profession & Programming is my passion!
</p>
<p>Working at Tata Consultancy Services, Bangalore
</p>
<p>This is a personal blogger website made by me. <br> <br> Users can view, like, add comments and share my posts to social media platforms like Whatsapp and Facebook or via email<br><br>More features soon..
</p>
<%- include('partials/footer') -%>
