<%- include('partials/header') -%>
<h3>Contact</h3>
<br>
<h5>Safnas</h5>
<a class="like-button" href="mailto:iamsafnas@gmail.com" target="_blank" title="Mail"><img src="./icons/envelope.svg"
                width="24" class="icon" /></a>
&nbsp;
<a class="like-button" href="https://www.facebook.com/iamsafnas" target="_blank" title="Facebook"><img
                src="/icons/002-facebook.svg" width="24" class="icon" /></a>
&nbsp;
<a class="like-button" href="https://www.instagram.com/safnaaz" target="_blank" title="Instagram"><img
                src="/icons/001-instagram.svg" width="24" class="icon" /></a>
&nbsp;
<a class="like-button" href="https://www.twitter.com/Saf_Naaz" target="_blank" title="Twitter"><img
                src="/icons/003-twitter.svg" width="24" class="icon" /></a>
&nbsp;
<a class="like-button" href="https://www.github.com/SafNaaz" target="_blank" title="GitHub"><img
                src="/icons/004-github.svg" width="24" class="icon" /></a>
&nbsp;
<a class="like-button" href="https://www.linkedin.com/in/safnas" target="_blank" title="linkedIn"><img
                src="/icons/005-linkedin.svg" width="24" class="icon" /></a>
&nbsp;
<a class="like-button" href="https://wa.me/?text=" target="_blank" title="WhatsApp"><img src="/icons/006-whatsapp.svg"
                width="24" class="icon" /></a>
&nbsp;
<%- include('partials/footer') -%>
