<%- include('partials/header') -%>

<h3>Login</h3>

<form action="/login" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" id="username" type="text" name="username">
        <label for="password">Password</label>
        <input class="form-control" id="password" type="password" name="password">
    </div>
    <button class="btn btn-primary" type="submit" name="button">Login</button>
    <input type="button" class="btn btn-primary" value="Cancel" onclick="goBack()">
</form>
<br>

<%- include('partials/footer') -%>