body {
  width: 100%;
  margin: auto;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: lightcyan;
}
.navbar-nav li a:hover {
  color: lightgrey !important;
}

.posts {
  padding-bottom: 100px;
}

.footer {
  position: fixed;
  text-align: center;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: lightcyan;
}

.footer p {
  padding-top: 25px;
  font-size: 12px;
  color: black;
}
